extends layout.jade
block contents
        #M1.content
          .container-fluid
            .row
              .col-md-12
                .card.card-plain
                  .header
                    h4.title 弹幕列表&nbsp&nbsp&nbsp
                     input(id='auditsw'  checked type='checkbox' data-toggle='toggle' data-onstyle='success')
                     span(style='float:right')
                      button.totalpass.btn.btn-success.btn-fill(id='multipass') 批量通过
                  .content.table-responsive.table-full-width(id='msgtable')
                    table.table.table-hover
                      thead
                        tr  
                          th(style='width:10%;')
                            input#all.check(type='checkbox') 
                            | 序号
                          th(style='width:10%;') 昵称
                          th 内容
                          th(style='left:10vw;') 状态
                          th 审核
                      tbody
              .col-md-12
                .page(style="text-align:center")

block script
  script(src='/assets/js/jquery.3.2.1.min.js', type='text/javascript')
  script(src='/assets/js/bootstrap.min.js', type='text/javascript')
  script(src='/assets/js/bootstrap-notify.js')
  script(src='/assets/js/light-bootstrap-dashboard.js?v=1.4.0')
  link(href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet")
  script(src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js")
  //socket.io
  script(src='/socket.io/socket.io.js')
  script.
    var information = !{items != null? JSON.stringify(items): 'null'};
    var activity_id = information.activity_id;
    var msg_list = information.msg_list;
    var socket = io();
    var msg_total_num = information.msg_total_num;
    var page_num;
    var page_list;
    var cnt_limit = 0;
    var current = window.location.pathname.substr(14); 
    var now_page = parseInt((current - 1) / 5);
    var onoff = 1;
    $(document).ready(function(){
      console.log(information);
      $('#M' + $('.content').attr('id')).attr('class','active');
      page_num = parseInt(msg_total_num / 15);
      page_list = page_num / 5;
      data = {'activity_id': information.activity_id};
      socket.emit('joinActivity', data);
      if(now_page > 0)      
        $('.page').append("<a href='javascript:void(0);' id='prev'>上一页&nbsp&nbsp&nbsp</a>");
      for(var i = (now_page * 5); i <= page_num; i++){
        $('.page').append("<a class='pagenum' href='javascript:void(0);' id=P" + ( i + 1 ) + ">" + (i + 1) + "&nbsp&nbsp&nbsp</a>");
        if(cnt_limit == 4){
          break;
        }
        cnt_limit++;
      }

      console.log($('#auditsw').attr('checked'));
      $('#P' + current).css('color','black');
      if(information.review_flag == false){
        $('#auditsw').bootstrapToggle('off');
        onoff = 0;
     }
      if(parseInt(page_list) > now_page)
        $('.page').append("<a href='javascript:void(0);' id=next>下一页</a>");
    });
    $(document).on('change','#auditsw',function(){
       if(onoff == 1){
         onoff = 0;
         console.log('ha');
         $('#msgtable').css('display','none');
         $('#multipass').css('display','none');
         $('.page').css('display','none');
         $.ajax({
           type:'PUT',
           data:{'review_flag': false},
           datatype:'json',
           url:'/activity/review_flag',
           success: function(data){
           
           },
           error: function(data){
           }
         });
       }
       else if(onoff == 0){
         onoff = 1;
         $('#msgtable').css('display','block');
         $('#multipass').css('display','block');
         $('.page').css('display','block');
         $.ajax({
           type:'PUT',
           data:{'review_flag': true},
           datatype:'json',
           url:'/activity/review_flag',
           success: function(data){
           
           },
           error: function(data){
           }
         });
       }
    })
    $(document).on('click','#next',function(){
      now_page++;
      cnt_limit = 0;
      $('.page').empty();
      for(var i = now_page * 5; i < page_num; i++){
        $('.page').append("<a class='pagenum' href='javascript:void(0);' id=P" + (i + 1) + ">" + (i + 1) + "&nbsp&nbsp&nbsp</a>");
        if(cnt_limit ==4){
          break;
        }
        cnt_limit++;
      }
      $('#P' + (now_page * 5 + 1)).css('color','black');
      if(parseInt(page_list) > now_page)
        $('.page').append("<a href='javascript:void(0);' id=next>下一页</a>");
      window.location = '/msglist/page/' + (now_page * 5 + 1);
    });
    $(document).on('click','#prev',function(){
      now_page--;
      cnt_limit = 0;
      $('.page').empty();
      window.location = '/msglist/page/' + (current - 1);
    });
    $(document).on('click','.pagenum',function(){
      $('.pagenum').each(function(){
        $(this).css('color','');
      });
      $(this).css('color','black');
      window.location = '/msglist/page/' + this.id.substr(1);
    });
    $(document).on('click','.black',function(){
      var getid = this.id.substr(5,this.id.length - 1);
      msg_list.forEach((msg) =>{
       if(msg == null)
          return;
        if(getid == msg.id){
          var data = {
           open_id: msg.open_id,
           nickname: msg.nickname
          };
          data = JSON.stringify(data);
          console.log(data);
          $.ajax({
            type: "PUT",
            data: {"blocked_id": data,"blocked_word": msg.content},
            datatype: "json",
            url: "/blacklist",
            success: function(data){
              alert("拉入成功！");
              console.log(data);
            },
            error: function(data){
            }
          }); 
        }
      })
    });
    $(function() {
      var data = {'activity_id': activity_id};
      socket.emit('joinActivity', data);
      console.log('activity_id: ', activity_id);
      console.log('msg_list: ', msg_list);
  
      msg_list.forEach((msg) => {
         if(msg == null)
           return;
         $('tbody').append("<tr id=list" + msg.id + "></tr>");
         if(msg.review_flag == false)
           $('#list' + msg.id).append("<td><input type='checkbox' class = check id =check" + msg.id + '>' + msg.id + "</td>");
         else 
           $('#list' + msg.id).append("<td>" + msg.id + "</td>");
         $('#list' + msg.id).append($("<td>").text(msg.nickname));
         if(msg.type == 'text')
           $('#list' + msg.id).append($("<td>").text(msg.content));
         else
           $('#list' + msg.id).append("<td><img src= /images/activity/" + msg.activity_id + '/fromuser/' + msg.content + ".png width='50px' height:'50px' ></td>");
         if(msg.review_flag == false){  
            $('#list' + msg.id).append("<td><a href='javascript:;' class=admit id=permit" + msg.id + " style='color:orange;'>WAITING</a></td>");
            $('#list' + msg.id).append("<td id=btn" + msg.id + " style='padding:5px'><button class='pass btn btn-success btn-fill' id=" + msg.id + ">通过</button>&nbsp&nbsp<button class='black btn btn-danger btn-fill' id=black" + msg.id + ">拉入黑名单</button></td>"); 
         }
         else{
            $('#list' + msg.id).append("<td><a href='javascript:;' class=admit id=permit" + msg.id + " style='color:GREEN;'>PASS</a></td>"); 
            $('#list' + msg.id).append("<td style='color:GREEN;'>已通过</td>");
         }
     });
  
      socket.on('review', function(data) {
        console.log('on review: ', data);
        msg_obj = JSON.parse(data.msg);
        $("#messages").append($('<li>').text(msg_obj.content));
        socket.emit('passReview', data);
      });
    });
    $(document).on('click','.pass',function(){
        console.log(this.id);
        var getid = this.id;
        if(getid > 15){
           console.log(getid)
           msg_list.forEach((msg) =>{
             if(msg != null)
              if(getid == msg.id)
               socket.emit('passReview', msg);
           })
        }
        else{
           msg_list.forEach((msg) =>{
              if(getid % 16 == msg.id)
               socket.emit('passReview', msg);
           })
        }
        $('#btn' + this.id).remove();
        $('#list' + this.id).append("<td style='color:GREEN;'>已通过</td>");
        $('#permit' + this.id).text('PASS');
        $('#check' + this.id).remove();
        $('#permit' + this.id).css('color','green');
    });
    $(document).on('click','input.check',function(){
      if(this.id == 'all'){
        if(this.checked == 1){
           $("input[type='checkbox']").each(function(){
             this.checked = 1;
           });
        }
        else{
          $("input[type='checkbox']").each(function(){
            this.checked = 0;
          })
        } 
      }
      else{
        if(this.checked == 0)
          this.checked = 0;
        else
          this.checked = 1;
      }
    });
    $(document).on('click','.totalpass',function(){
      $('.check').each(function(){
        if(this.checked == 1 && this.id != 'all'){ 
          console.log('id',this.id);
          var getid = this.id.substr(5);
          console.log('getid',getid);
          if(getid > 15){
            msg_list[getid % 16].review_flag = true;
            socket.emit('passReview', msg_list[getid % 16]);
          }
          else{
            msg_list[getid % 16 - 1].review_flag = true;
            socket.emit('passReview', msg_list[getid % 16 - 1]);
          }
          $('#btn' + getid).empty();
          $('#btn' + getid).append("<label style='color:green;'>已通过</label>")
          $('#permit' + getid).text('PASS');
          $('#permit' + getid).css('color','green');
          $('#check' + getid).remove();
        }
      })
    })
    $(document).on('click','a.admit',function(){
      if(this.text == 'WAITING'){
       $(this).text('PASS');
       $(this).css('color','green');
      }
    })
   
