html
  head
    link#bootstrap-css(href='//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css', rel='stylesheet')
    link(rel='stylesheet', href='style.css', type='text/css', media='screen')
    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
        script(src="http://cdn.bootcss.com/blueimp-md5/1.1.0/js/md5.js")
    script(src="http://cdn.bootcss.com/blueimp-md5/1.1.0/js/md5.min.js")

    script(script type="text/javascript")
    script.
      function signupClick() {
        var id=document.signup.input_id.value;
        var pw=document.signup.input_pw.value;
        var confirm=document.signup.input_confirm.value;
        var email=document.signup.input_email.value;
       
        if(id==null||id.length==0){
          alert("Please confirm your ID!");
          return;
        }
        if(pw==null||pw.length==0){
          alert("Please confirm your password!");
          return;
        }
        if(!(confirm == pw)){
          alert("Please confirm your password!");
          return;
        }
        if(pw.length < 8){
            alert("The length of password should be longer than 8!");
            return;
        }
        var reg = new RegExp("^[a-z0-9]+([._\\-]*[a-z0-9])*@([a-z0-9]+[-a-z0-9]*[a-z0-9]+.){1,63}[a-z0-9]+$");
        if (!reg.test(email)) {
            alert("Please confirm your Email!");
            return;
        }
          document.signup.input_pw.value = md5(pw);
          document.signup.submit();
      }

  
  body#LoginForm
    .container
      .login-form
        .main-div
          .panel
            a(href='/') 弹屏目
          p1(style='color:red') #{warning}
          form(method = "post",action ='signup',name = 'signup')
            .form-group
              input#inputId.form-control(type = 'text', placeholder = '账户',name = 'input_id')
            .form-group
              input#inputEmail.form-control(type = 'text', placeholder = '邮箱',name = 'input_email')
            .form-group
              input#inputPassword.form-control(type = 'password', placeholder = '密码',name = 'input_pw')
            .form-group
              input#inputConfirm.form-control(type = 'password', placeholder = '确认密码',name = 'input_confirm')
            .forgot  
          button.btn.btn-primary(onClick = 'signupClick()') 注册
          
           
